-- Fix historial_puntos constraint issue
-- Execute this SQL directly in your database

-- First, update any existing records
UPDATE historial_puntos SET tipo_movimiento = 'ajuste' WHERE tipo_movimiento = 'reset';

-- Then update the function to use 'ajuste' instead of 'reset'
CREATE OR REPLACE FUNCTION fn_acumular_puntos_venta(p_id_venta INTEGER, p_id_cajero INTEGER DEFAULT NULL)
RETURNS VOID AS $$
DECLARE
    v_id_cliente INTEGER;
    v_acumula_puntos BOOLEAN;
    v_puntos_anteriores INTEGER;
    v_puntos_nuevos INTEGER;
BEGIN
    -- Obtener el cliente y si acumula puntos de la venta
    SELECT id_cliente, acumula_puntos INTO v_id_cliente, v_acumula_puntos
    FROM venta
    WHERE id_venta = p_id_venta;

    RAISE NOTICE 'Procesando puntos para venta %, cliente %, acumula_puntos %', p_id_venta, v_id_cliente, v_acumula_puntos;

    -- Si no hay cliente o no acumula puntos, no acumular
    IF v_id_cliente IS NULL OR v_acumula_puntos = FALSE THEN
        RAISE NOTICE 'No hay cliente o no acumula puntos, saliendo';
        RETURN;
    END IF;

    -- Obtener puntos actuales del cliente
    SELECT COALESCE(puntos_acumulados, 0) INTO v_puntos_anteriores
    FROM cliente
    WHERE id_cliente = v_id_cliente;

    RAISE NOTICE 'Puntos anteriores: %', v_puntos_anteriores;

    -- Calcular nuevos puntos (1 punto por venta)
    v_puntos_nuevos := v_puntos_anteriores + 1;

    -- Si llega a 10 puntos, reiniciar a 0
    IF v_puntos_nuevos >= 10 THEN
        v_puntos_nuevos := 0;
    END IF;

    RAISE NOTICE 'Puntos nuevos: %', v_puntos_nuevos;

    -- Actualizar puntos del cliente
    UPDATE cliente
    SET puntos_acumulados = v_puntos_nuevos,
        ultima_compra = CURRENT_TIMESTAMP
    WHERE id_cliente = v_id_cliente;

    RAISE NOTICE 'Cliente actualizado';

    -- Registrar en historial de puntos
    INSERT INTO historial_puntos (
        id_cliente,
        id_venta,
        tipo_movimiento,
        puntos_anterior,
        puntos_movimiento,
        puntos_nuevo,
        descripcion,
        id_cajero
    ) VALUES (
        v_id_cliente,
        p_id_venta,
        CASE WHEN v_puntos_nuevos = 0 THEN 'ajuste' ELSE 'acumulacion' END,
        v_puntos_anteriores,
        CASE WHEN v_puntos_nuevos = 0 THEN -10 ELSE 1 END,
        v_puntos_nuevos,
        CASE WHEN v_puntos_nuevos = 0 THEN 'Reset de puntos después de 10 acumulaciones' ELSE 'Punto acumulado por venta' END,
        p_id_cajero
    );

    RAISE NOTICE 'Historial insertado';

END;
$$ LANGUAGE plpgsql SECURITY DEFINER;
