-- Migration: Fix historial_puntos tipo_movimiento constraint
-- Change 'reset' to 'ajuste' in existing records

BEGIN;

-- Update any existing records with 'reset' to 'ajuste'
UPDATE historial_puntos 
SET tipo_movimiento = 'ajuste' 
WHERE tipo_movimiento = 'reset';

COMMIT;
